html {
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(190,190,190,1) 50%,rgba(170,170,170,1) 80%,rgba(250,250,250,1) 100%) no-repeat center center fixed; /* W3C
*/}

@font-face{
  font-family: digital;
  src:url("digital-7 (mono).ttf");
}

.sheen {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.66) 0%, rgba(255,255,255,0.19) 25%, rgba(255,255,255,0.13) 28%, rgba(255,255,255,0) 35%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.66)), color-stop(25%,rgba(255,255,255,0.19)), color-stop(28%,rgba(255,255,255,0.13)), color-stop(35%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.66) 0%,rgba(255,255,255,0.19) 25%,rgba(255,255,255,0.13) 28%,rgba(255,255,255,0) 35%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,0.66) 0%,rgba(255,255,255,0.19) 25%,rgba(255,255,255,0.13) 28%,rgba(255,255,255,0) 35%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.66) 0%,rgba(255,255,255,0.19) 25%,rgba(255,255,255,0.13) 28%,rgba(255,255,255,0) 35%);
  background: linear-gradient(135deg, rgba(255,255,255,0.42) 0%,rgba(255,255,255,0.17) 25%,rgba(255,255,255,0.10) 28%,rgba(255,255,255,0) 33%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.sheen2 {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 28%, rgba(255,255,255,0) 33%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px;
}

.shadow {
  margin-top: 18px;
  width: 480px;
  height: 16px;
/*  background-color: grey;*/
  margin-left: auto;
  margin-right: auto;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 69%, rgba(0,0,0,0) 99%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(69%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 99%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 99%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 99%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 64%, rgba(43,43,43,1) 89%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(51%,rgba(0,0,0,1)), color-stop(64%,rgba(17,17,17,1)), color-stop(89%,rgba(43,43,43,1)), color-stop(100%,rgba(19,19,19,1)));
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 51%,rgba(17,17,17,1) 64%,rgba(43,43,43,1) 89%,rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 51%,rgba(17,17,17,1) 64%,rgba(43,43,43,1) 89%,rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 51%,rgba(17,17,17,1) 64%,rgba(43,43,43,1) 89%,rgba(19,19,19,1) 100%);
  background: linear-gradient(135deg, rgba(0,0,0,1) 51%,rgba(17,17,17,1) 64%,rgba(43,43,43,1) 89%,rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313',GradientType=1 );
  border-radius: 25px;
  height: 500px;
  width: 375px;
  margin-top: 6%;
}

.thermostat {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: rgb(109,179,242);
  background: -moz-linear-gradient(-45deg, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 2%, rgba(30,105,222,1) 35%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(2%,rgba(84,163,238,1)), color-stop(35%,rgba(30,105,222,1)));
  background: -webkit-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 2%,rgba(30,105,222,1) 35%);
  background: -o-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 2%,rgba(30,105,222,1) 35%);
  background: -ms-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 2%,rgba(30,105,222,1) 35%);
  background: linear-gradient(135deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 2%,rgba(30,105,222,1) 35%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 );
  height: 65%;
  width: 80%;
  border-radius: 4px;
  top: 42%;
  transform: translateY(-50%);
}

#powerbutton {
  border: 0;
  display: block;
  background: #444444;
  background-size: 60px 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  transform: translateY(110%);
  background-image: url(powerButton.svg);
}

#temp {
  display: inline;
  position: relative;
  font-family: digital;
  color: #fafafa;
  font-size: 12em;
  margin-left: 37.5px;
  top: 10px;
}

.degrees {
  display: inline;
  position: relative;
  font-family: digital;
  color: #fafafa;
  font-size: 4em;
}

.font {
  margin-left: auto;
  margin-right: auto;
}

.marquee{
  margin-top: 5%;
  font-family: digital;
  color: #fafafa;
  font-size: 1.5em;
}


#up {
  border: 0;
  background-color: rgba(30,105,222,1);
  background-size: 60px 60px;
  background-image: url(up.svg);
  height: 60px;
  width: 60px;
  border-radius: 15px;
}

#down {
  border: 0;
  background-color: rgba(30,105,222,1);
  background-size: 60px 60px;
  background-image: url(down.svg);
  height: 60px;
  width: 60px;
  border-radius: 15px;
}

#resetbutton {
  border: 0;
  background-color: rgba(30,105,222,1);
  background-size: 40px 40px;
  background-image: url(reset.png);
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

:focus {
  outline: 0;
}

.buttons {
  position: absolute;
  bottom: 20px;
  margin-left: 40px;
}

#psStatus {
  border: 0;
  background-color: rgba(30,105,222,1);
  background-size: 40px 40px;
  background-image: url(power_saver.svg);
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
