.wrapper {
/*  position: relative;*/
}

@font-face{
  font-family: digital;
  src:url("digital-7 (mono).ttf");
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 25px;
  height: 500px;
  width: 375px;
  margin-top: 6%;
}

.thermostat {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #2D6FEB;
  height: 65%;
  width: 80%;
  border-radius: 4px;
  top: 42%;
  transform: translateY(-50%);
}

#powerbutton {
  display: block;
  background: #778899;
  background-size: 60px 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  transform: translateY(110%);
  background-image: url(powerButton.svg);
}

#temp {
  display: inline;
  position: relative;
  font-family: digital;
  color: #fafafa;
  font-size: 12em;
  margin-left: 37.5px;
  top: 10px;
}

.degrees {
  display: inline;
  position: relative;
  font-family: digital;
  color: #fafafa;
  font-size: 4em;
}

h1 {
}

.font {
  margin-left: auto;
  margin-right: auto;
}

.marquee{
  margin-top: 5%;
  font-family: digital;
  color: #fafafa;
  font-size: 1.5em;
}


#up {
  border: 0;
  background-color: #2D6FEB;
  background-size: 60px 60px;
  background-image: url(up.svg);
  height: 60px;
  width: 60px;
}

#down {
  border: 0;
  background-color: #2D6FEB;
  background-size: 60px 60px;
  background-image: url(down.svg);
  height: 60px;
  width: 60px;
}

#resetbutton {
  border: 0;
  background-color: #2D6FEB;
  background-size: 40px 40px;
  background-image: url(reset.png);
  height: 40px;
  width: 40px;
}

.buttons {
  position: absolute;
  bottom: 20px;
  margin-left: 40px;
/*  margin-right: auto;
*/}

#psStatus {
  border: 0;
  background-color: #2D6FEB;
  background-size: 40px 40px;
  background-image: url(power_saver.svg);
  height: 40px;
  width: 40px;
}
