.wrapper {
  position: relative;
}

@font-face{
  font-family: digital;
  src:url("digital-7 (mono).ttf");
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 25px;
  height: 500px;
  width: 375px;
  margin-top: 6%;
}

.thermostat {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #2D6FEB;
  height: 65%;
  width: 80%;
  border-radius: 4px;
  top: 42%;
  transform: translateY(-50%);
}

#powerbutton {
  display: block;
  background: #778899;
  background-size: 60px 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  transform: translateY(110%);
  background-image: url(powerButton.svg);
}

#temp {
  display: inline;
  position: relative;
  font-family: digital;
  color: #fafafa;
  font-size: 12em;
  margin-left: 37.5px;
  top: 40px;
}

.degrees {
  display: inline;
  position: relative;
  font-family: digital;
  color: #fafafa;
  font-size: 4em;
}

h1 {
}

.font {
  margin-left: auto;
  margin-right: auto;
}


#up {
}

#down {
}

.buttons {
}

#psStatus {
}
